* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    color: #4f5864;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.3;
    height: 100%;
}

body,
button,
input,
select,
textarea {
    font-family: MuseoSans, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}


/* header start */

#banner {
    font-family: MuseoSans, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    color: #4f5864;
    background: #f4f7fb;
}

.banner-primary-nav {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    color: #fff;
    background-color: #01b2ee;
}

.banner-primary-nav_content {
    max-width: 1385px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#banner {
    font-family: MuseoSans, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #4f5864;
}

#banner-brand {
    display: block;
    flex: 1;
    font-size: 2.2rem;
    padding-left: 20px;
}

#banner-brand a {
    display: inline-block;
    color: #fff;
    font-weight: 800;
}

#banner a {
    text-decoration: none;
}

.dropdown .btn {
    color: #fff;
    padding: 0;
}

.btn:focus {
    box-shadow: none;
}

.account-links {
    font-size: 12px;
    font-weight: 300;
    margin-right: 13px;
}

.account-links ul {
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
}

.account-links>ul>li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.banner-primary-nav .banner-account-links_subscribe {
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    display: inline-block;
    line-height: 40px;
    color: #fff;
}

.banner-primary-nav .banner-account-links_subscribe svg {
    margin-right: 6px;
}

.powered-by-logo {
    border-left: 1px solid #5ad1ff;
}

ul li {
    list-style-type: none;
}

ul li a .bi {
    fill: #fff;
    width: 25px;
    height: 25px;
}

.dropdown span {
    padding: 2px;
}


/* header second nav */

.banner-secondary-nav {
    background: #fff;
    box-shadow: 0 0 10px 0 rgb(75 84 96 / 22%);
    position: relative;
    min-height: 57px;
}

.banner-secondary-nav .banner-secondary-nav_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1385px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.menu-container {
    display: flex;
}

.menu-container li {
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-size: 14px;
    margin-right: 18px;
}

.menu-container a {
    color: #4f5864;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    cursor: pointer;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    height: 57px;
    display: inline-flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.menu-container a:hover {
    color: #01b2ee;
}

.dropdown #catg-btn:hover {
    color: #01b2ee;
}

.menu-container .mega-menu .btn {
    color: #4f5864;
    line-height: 54px;
}

.menu-container .mega-menu .dropdown-toggle::after {
    color: #01b2ee;
}

#banner-search {
    padding: 0 0 0 7px;
    overflow: hidden;
}

.banner-secondary-nav>div>div {
    flex: 1;
}

input.search-bar_input {
    height: 40px;
    padding: 0 15px 0 40px;
    color: #4f5864;
    width: 100%;
    border: 1px solid #dce3ed;
    border-radius: 5px;
    font-size: 15px;
}

.banner-secondary-nav_container {
    max-width: 475px;
}

#search-bar {
    display: flex;
    align-items: center;
}

.search-bar-icon {
    width: 24px;
    height: 24px;
    position: relative;
    left: 35px;
}


/* header ends */


/* hero page start */

.homepage-hero-banner {
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    padding: 10px 15px 20px;
}

.header-image {
    margin: auto;
    display: block;
    padding: 10px 10px 0px 10px;
    text-align: center;
}

.homepage-inner-container .header-image {
    display: block !important;
    padding: 0;
}

img {
    height: auto;
    max-width: 100%;
}

.notification-container {
    padding: 20px 0px 0px 0px;
    text-align: center;
    font-weight: normal;
    font-size: 15px;
}

.notification-container strong {
    font-weight: 700;
}


/* hero page ends */

.container-width {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* overriding some  bootstrap style*/

.dropdown .btn:hover {
    color: #fff;
}


/* media quires */

@media (min-width: 1200px) {
    .container-width {
        max-width: 1385px;
    }
}

@media screen and (min-width: 1088px) {
    .homepage-hero-banner .header-image {
        padding-top: 20px !important;
    }
}